body{
    background-color: black;
}

.textbox{
    position: relative;
}
.img{
    position: relative;
    top: 365px;
    left: 200px;
}

.text{
    color: black;
}



.textbox ,input{
    width: 260px;
    height: 64px;
    border-radius: 6px;
    background-color: transparent;
    color: #26dfae;
    /* border: 1px solid #df2666; */
    padding: 0 20px 0 56px;
    font-size: 17px;
    font-family: inherit;
    color: rgb(255 255 255 / 96%);
    outline: none;
}

.textbox input:focus ~ .icon{
  opacity: 1;
}

.textbox input::placeholder{
    color: rgb(255 255 255/ 50%);
}

.textbox input:valid{
    border-color: #26dfae;
}

.textbox , .astrix{
    position: absolute;
    top: 21px;
    right: 20px;
    font-size: 22px;
    pointer-events:all;
    color:#df2666;
    color: black;
}

.textbox , .icon{
    position: absolute;
    top: 50%;
    left: 20%;
    margin-top: -12px;
    opacity: 0.5;
}

.textbox :is(input:valid)
~ .astrix{opacity: 0;}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
.textbox input:valid,
.textbox input:valid
~ :is(.astrix, .icon){
    animation: none;
}

/* .textbox:hover, img:hover{
  animation: shake 1s;
} */

.textbox:hover,img:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }






























































































